body {
    background: #e3f2fd;
}

h1 {
    text-align: center;
    background-size: cover;
    background-color: #EBF5FB;
}

p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.about {
    padding: 8px;
    color: #34282C;
    background-size: cover;
    background-color: #EBF5FB;
}

img {
    background-color: #ebf7f7;
    display: block;
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    border: beige 1px solid;
    padding: 0px;
}

.column {
    float: left;
    width: 25%;
}

.container {
    text-align: center;
}

.card {
    box-shadow: 0px 4px 18px rgb(215, 215, 238);
    padding: 0px 5px 0px 5px;
}