.bg-cover {
    background-image: url(../images/log-bg.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.center-me {
    display: flex;
    justify-content: center;
    padding: 40px;
}

form {
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 400px;
    margin-top: 100px;
}

.form-signin {
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgb(228, 22, 22);
}

input {
    margin-bottom: 10px;
}

img {
    height: 490px;
    width: 550px;
}

body {
    background-color: rgb(2, 2, 49);
}